body {
    background-image: url("../images/Lcars_wallpaper.gif");
    background-color: #ec0d0f;
    font-family: 'Roboto', sans-serif;
    color: #fe9800;
    position: relative;
    /* animation: redAlert 1s infinite;  */
}

#btn1 {
    background-color: #9b98fe;
    color: black;
    font-weight: bold;
    margin: 10px;
}
#btn2 {
    background-color: #fe9800;
    color: black;
    font-weight: bold;
    margin: 10px;
}
#btn3 {
    background-color: #c498c4;
    color: black;
    font-weight: bold;
    margin: 10px;
}
#btn4 {
    background-color: #cc6061;
    color: black;
    font-weight: bold;
    margin: 10px;
}
#btn5 {
    background-color: #cc6061;
    color: white;   
    font-weight: 900;
    font-size: 25px;
    height: 100px;
    width: 126px;
}

.blink {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    
    @keyframes blinker {
    0%{opacity: 1.0}
    50%{opacity: 0.0}
    100%{opacity: 1.0}
    }
.flash {
    animation: redAlert 1s infinite; 
}
@keyframes redAlert {
    0% {opacity: 0.5;}
    0% { background-color: #ec0d0f; }
    50% {opacity: 0.5;}
    50% { background-color: #000; }
    100% { background-color: #ec0d0f; }
    100% {opacity: 0.5;}
}

.questBtn {
    position: aboslute;
    top: 440px;
    left: 260px;
    width: 330px;
    background-color: white;
}
.strtBtn {
    position: absolute; 
    background-color: transparent;
    top: 350px;
    left: 1px;
}
.quest {
    position: absolute;
    top: 360px;
    left: 385px;
    width: 380px;
    background-color: transparent;
}
.disp {
    position: absolute;
    top: 280px;
    left: 200px;
    font-size: 30px;
    background-color: transparent;
    color:white;
}
.score {
    position: absolute;
    top: 350px;
    left: 390px;
    font-size: 25px;
    background-color: black;
}
.message {
    top: 80px;
    font-size: 50px;
    width: 350px;
    color: #cc6061;
    background-color: transparent;
    z-index: 2;

}